<div class="flexbox">
    <div class="search">
      <h1>Search this site</h1>
      <h3>Enter City name for searching whether...</h3>
      <div>
        <input type="text" placeholder="Enter City..."   #input>
      </div>

      <button class="button" (click)="buttonclick(input.value)">Click Me!!</button>

    </div>
    
    
  </div>

  <div class="icon" *ngIf=src>
        
    <img  src="{{src}}" class="icon-image"/>
  
</div>





<div class="grid-container" *ngIf=desc>

    

        <div class="grid-item">Desciption</div>
        <div class="grid-item">Wind Speed</div>
        <div class="grid-item">Humidity</div>
        <div class="grid-item" >{{placehead}}</div>
        <div class="grid-item">{{desc}}</div>
        <div class="grid-item">{{windspeed}}</div>
        <div class="grid-item">{{humidity}}</div>
        <div class="grid-item">{{place}}</div>



    

</div>
 
